<header class="site-header">
  <nav class="navbar">
    <div class="nav-left">
      <a href="/home" class="logo">MovieHub</a>
      <a href="/home">Home</a>
      <a href="/movies">Movies</a>

      <% if (currentUser && currentUser.userId) { %>
        <a href="/watchlist">My Watchlist</a>
      <% } %>

      <% if (currentUser && currentUser.role === "admin") { %>
        <a href="/admin/reports">Reports</a>
      <% } %>
      <% if (currentUser && currentUser.role === "admin") { %>
          <a href="/admin/reports">Reports</a>
      <% } %>
    </div>

    

    <div class="nav-right">
      <% if (currentUser && currentUser.userId) { %>
        <a href="/profile" class="profile-circle" title="Profile">
          <%= currentUser.username ? currentUser.username.charAt(0).toUpperCase() : "U" %>
        </a>
      <% } else { %>
        <a href="/login" class="nav-login">Login</a>
        <a href="/signup" class="nav-signup">Sign Up</a>
      <% } %>
    </div>
  </nav>
</header>